.button {
  border-radius: 8px;
  background-color: rgb(242, 255, 242);
  border: 1px solid black;
  color: black;
  font-size: 18px;
  padding: 8px 12px;
  gap: 6px;
  display: flex;
  align-items: center;
  transition: background-color 0.4s;
}

.button:hover {
  background-color: rgb(217, 255, 216);
}
